<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav">
                <li class="pull-left">
                    <h3>Your Schools</h3>
                </li>
                <li>
                    <%= link_to "#", :class => "btn btn-primary pull-right" do %>
                        <i class="fa fa-plus"></i>
                        <span>Add New School</span>
                    <% end %>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>School Name</th>
                            <th>Principal</th>
                            <th>Location</th>
                             <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dar-e-Arqam</td>
                            <td>Majid</td>
                            <td>Lahore</td>
                            <td>High</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Islamic Ideal School</td>
                            <td>Junaid</td>
                            <td>Toba Tek Singh</td>
                            <td>Priamry</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>DPS</td>
                            <td>Ali</td>
                            <td>FSD</td>
                            <td>Higher Secondary</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Unique</td>
                            <td>Abdul Haq</td>
                            <td>Lahore</td>
                            <td>Middle</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>